<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boston College Community Service Events</title> <!--added "Boston College"-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li class="nav-item"><a href="/about">About</a></li> <!--deleted "Home"-->
                <li class="nav-item"><a href="/">Events</a></li>
                <li class="nav-item"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <h1>Boston College Community Service Events</h1> <!--added "Boston College"-->
    </header>
    <div class="container">
        <div class="form-container">
            <div class="envelope-container">
                <h2>Our Mission</h2>
                <p>
                    At Boston College Community Service Events, our mission is to foster a vibrant and compassionate community where students and members of our school are inspired and empowered to take action in the service of others. Through meaningful community service initiatives, acts of goodwill, and collaborative efforts, we aim to create a culture of kindness and civic engagement. By working together, we strive to enrich the lives of those around us, making both Boston College and the city of Boston a stronger, more connected, and caring place for all.
                </p>
                <h2>Events</h2>
                <p>
                    Community service events at Boston College are organized by the Office of Student Involvement, the Executive Board, and by member requests, subject to review. If you would like to propose a community service event within the Boston College community, please contact us through the information provided on our <a href="#contact">Contact</a> page.
                </p>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Boston College Community Service Events. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>